@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/*Color for the Background*/

@theme {
  --color-navy-blue: #0e1218;
}

/*New Fonts*/
@theme {
  --font-ghotic: "Special Gothic Expanded One", sans-serif;
  --font-cardo: "Cardo", serif;
  --font-passion: "Passion One", sans-serif;
}
